#Kate files
.kateproject.d/
.kateproject

#OS files
.directory
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

#Utility folders
3rdparty/
pending/
utils/
utils-local/
.project
.settings/
bkp/
deploy

#SQL data
sql/dbusers.sql
sql/*201*
sql/*row*.sql
sql/*__PRIVATE.sql
sql/*__PRE.sql

#Passwords file
site-public/application/config/auth.php_*
site-public/public/.htaccess_*

