div.section_row{
    margin: 0;
    text-align: center;
}

div.section_row div.section_cell{
    text-align: left;
    margin: 0;
    padding: 1em;
    width: 40%;
    display: inline-block;
  vertical-align: top;
}
