body{
	text-align:	center;
}

div#section_table{
	display:	table;
	width:		100%;
}

div.section_row{
	display:	table-row;
}

div.section_cell{
	display:	table-cell;
	width:		50%;
}

div.section{
	display:		block;
	vertical-align:	top;
	text-align:		left;
/* 	width:			50%; */
	margin:			2em;
}