.stroke{
	text-decoration:	line-through;
}

.underline{
	text-decoration:	underline;
}

.bold{
	font-weight:	bold;
}

.italic{
	font-style:	italic;
}

input[type="text"], input[type="number"], input[type="date"], input[type="password"]{
	border-radius:		0.5em;
	height:				2em;
	border:				0.4em solid #9cd3d9;
	color:				#cccccc;
	background-color:	#223344;
}

input[type="button"], input[type="submit"], select{
	border-radius:		0.5em;
	height:				2.5em;
	border:				0.4em solid #9cd3d9;
	font-weight:		bold;
	color:				#ffffff;
	background-color:	#335577;
	cursor:				pointer;
}

textarea{
	border-radius:		0.5em;
	min-height:			2em;
	max-height:			15em;
	border:				0.4em solid #9cd3d9;
	color:				#bbbbbb;
	background-color:	#223344;
	resize:				vertical;
}

/* Links */
a{
	color:				#4c9ed9;
	text-decoration:	none;
	transition:			all .2s ease-in-out;
}

a:hover{
	color:				#347;
	text-shadow:		0 0 0.4em #265885;
	text-decoration:	underline;
}

/* Icon for slider sections */
img.slid{
	height:			0.9em;
	width:			0.9em;
	padding:		0.1em;
	cursor:			pointer;
	vertical-align:	middle;
	transition:		opacity 0.5s ease-in-out;
}

/* Elements that should have the cursor as pointer */
.pointer{
	cursor:	pointer;
}


/* Body */
body{
	font-family:		font;
	margin:				0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5d3e5+0,e5f4ff+10,e5f4ff+90,b5d3e5+100 */
	background: #b5d3e5; /* Old browsers */
	background: -moz-linear-gradient(left, #b5d3e5 0%, #e5f4ff 10%, #e5f4ff 90%, #b5d3e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b5d3e5 0%,#e5f4ff 10%,#e5f4ff 90%,#b5d3e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b5d3e5 0%,#e5f4ff 10%,#e5f4ff 90%,#b5d3e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d3e5', endColorstr='#b5d3e5',GradientType=1 ); /* IE6-9 */
}

/* Content */
div#content{
	margin:		3em auto auto auto;
	width:		90%;
	max-width:	80em;
}

/* Sections */
div.section{
	background-color:	#9bc1da;
	padding:			0.1em 0.3em 0.1em 0.1em;
	border:				0.2em solid #9cd3d9;
}

/* Title for each section */
div.section .section_title{
	font-size:	130%;
	font-style:	bold;
	margin-top:	0.5em;
}

/* Entries */
div.entry{
	background-color:	#ffffff;
	padding:			0.2em;
	margin:				0.4em;
	border:				0.2em solid #9cd3d9;
	box-shadow:			inset 0 0 0.2em #dde;
	transition:			all .3s ease-in-out;
}

td.entry{
	background-color:	#ffffff;
	padding:			0.2em;
	margin:				0.4em;
	border:				0.2em solid #9cd3d9;
	box-shadow:			inset 0 0 0.2em #dde;
	transition:			all .3s ease-in-out;
}

div#member_action input{
	margin:	0.5em 2em 0.5em 2em;
}

/* Toolbar styles */
div#toolbar{
	background-color:	#000000;
	margin:				0;
	width:				100%;
	height:				2em;
	padding:			0;
}

div#toolbar img{
	height:			1.6em;
	vertical-align:	center;
}

div#toolbar table{
	width:				90%;
	height:				100%;
	margin-left:		auto;
	margin-right:		auto;
	border-spacing:		0;
    border-collapse:	collapse;
	margin:				0;
	table-layout:		fixed;
}

div#toolbar td{
	color:			#dddddd;
	font-weight:	bold;
	text-align:		center;
}

div#toolbar td a{
	color:				#dddddd;
	font-weight:		bold;
	text-align:			center;
	text-shadow:		none;
	text-decoration:	none;
	transition:			all .3s ease-in-out;
}

div.secondary_toolbar{
	background-color:	#333333;
	margin:				0;
	display:			none;
	width:				100%;
	height:				2em; 	
}

div.secondary_toolbar table{
	width:			90%;
	margin-left:	auto;
	margin-right:	auto;
	table-layout:	fixed;
}

div.secondary_toolbar td{
	text-align:	center;
}

div.secondary_toolbar td a{
	color:				#dddddd;
	font-weight:		bold;
	text-align:			center;
	text-shadow:		none;
	text-decoration:	none;
	transition:			all .3s ease-in-out;
}

div.secondary_toolbar td a:hover{
	color:				#dddddd;
	text-shadow:		none;
	text-decoration:	none;
}

table.translation_table{
	border-collapse:	collapse;
}

table.translation_table th{
	font-weight:		bold;
	font-size:			1.1em;
	border:	1px solid #000000;
}

table.translation_table td{
	border:	1px solid #000000;
}
