.stroke{
	text-decoration:	line-through;
}

.underline{
	text-decoration:	underline;
}

.bold{
	font-weight:	bold;
}

.italic{
	font-style:	italic;
}

input[type=button] {
    font-weight: bold;
    color: #cccccc;
    background-color: #555555;
    border: 0.143em solid #bbbbbb;
    border-radius: 0.429em;
    padding: 0.5em;
    text-shadow: 0 0 0.75em #000000;
    cursor: pointer;
}

/* Links */
a{
	color:				#6040a8;
	text-shadow:		0 0 0.5em #7799ff;
	text-decoration:	none;
	transition:			all .3s ease-in-out;
}

a:hover{
	color:				#301075;
	text-shadow:		0 0 0.4em #ffffff;
	text-decoration:	underline;
}

/* Icon for slider sections */
img.slid{
	height:	1em;
	width:	1em;
}

/* Elements that should have the cursor as pointer */
.pointer{
	cursor:	pointer;
}


/* Body */
body{
	color:		#000000;
	margin:		0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#95f78a+0,ffffff+100 */
	background: #95f78a; /* Old browsers */
	background: -moz-linear-gradient(top, #95f78a 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95f78a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #95f78a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #95f78a 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #95f78a 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #95f78a 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95f78a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* Header  */
div#header{
	margin:				-1em auto 1em auto;
	padding:			1em	0 0 0;
	width:				95%;
	max-width:			80em;
	background-color:	#aaaaaa;
	border-radius:		0 0 1em 1em;
	border:				1px solid #333333;
	box-shadow:			0 0 2em #555555;
}

/* Main image of the header, contains the logo */
div#header img{
	display:		inline-block;
	width:			10%;
	margin:			0;
	padding:		1%;
	vertical-align:	middle;
	-webkit-filter:	drop-shadow(0 0 0.6em #000000);
    filter:			url(#drop-shadow);
    -ms-filter:		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter:			"progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

/* Section of the header containing links to sections */
div#header_menu{
	display:			inline-block;
	vertical-align:		middle;
	width:				85%;
	background-color:	#ccffcc;
	border-radius:		0.5em;
	border:				0.2em solid #99cc99;
}

/* Table with the links to the sections */
div#header_menu table{
	display:			table;
	margin:				auto 0 auto 0;
 	width:				100%;
	border-collapse:	collapse;
    border-spacing:		0;
}

div#header_menu table tbody{
	width:	100%;
}
div#header_menu table tbody tr{
	width:	100%;
}

/* containers of the section links */
div#header_menu table td{
	width:		12%;
	text-align:	center;
	transition:	all .3s ease-in-out;
}

div#header_menu table td:hover{
	background-color:	#88aa88;
}

div#header_menu table a{
	display:		inline-block;
	font-weight:	bold;
	font-size:		115%;
	width:			100%;
	padding-top:	0.8em;
	padding-bottom:	0.8em;
}

/* Footer */
div#footer{
	width:	100%;
}

div#footer table{
	width:	100%;
}

div#footer table td{
	width:		33%;
	text-align:	center;
}

/* Content of the page */
div#content{
	width:	90%;
	margin-left:	auto;
	margin-right:	auto;
}

/* Images for language selection */
img.lang{
	height:			1em;
	margin:			0.5em;
	border-radius:	0.2em;
	border:			0.15em solid #222222;
	cursor:			pointer;
	box-shadow:		0 0 1em #333333;
}

/* App link image in the footer */
img.app{
	height:			3em;
	margin:			0.5em;
	border-radius:	0.4em;
	border:			0.15em solid #aaaaaa;
	cursor:			pointer;
	box-shadow:		0 0 0.5em #666666;
}

/* Each of the social links in the footer */
img.footer_social_icon{
	height:			2.4em;
	margin:			0.15em;
	transition:		all .3s ease-in-out;
	-webkit-filter:	drop-shadow(0 0 0.2em #444444);
    filter:			url(#drop-shadow);
    -ms-filter:		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter:			"progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

img.footer_social_icon:hover{
	-webkit-filter:	drop-shadow(0 0 0.4em #444444);
}

/* Content */
div#content{
	margin:		3em auto auto auto;
	width:		90%;
	max-width:	80em;
}

/* Sections */
div.section{
	background-color:	#999999;
	border-radius:		0.2em;
	padding:			0.4em;
	border:				0.1em solid #333333;
	box-shadow:			0 0 1em #555555;
}

/* Title for each section */
.section_title{
	font-style:	bold;
}

/* Entries */
div.entry{
	background-color:	#cccccc;
	border-radius:		0.2em;
	padding:			0.4em;
	margin:				0.2em;
	border:				0.1em solid #333333;
	box-shadow:			0 0 1em #222222;
	transition:			all .3s ease-in-out;
}

div.entry:hover{
	background-color:	#dddddd;
}

div#member_action input{
	margin:	0.5em 2em 0.5em 2em;
}

/* Toolbar styles */
div#toolbar{
	background-color:	#000000;
	margin:				0;
	width:				100%;
	height:				2em;
	padding:			0;
}

div#toolbar img{
	height:			1.6em;
	vertical-align:	center;
}

div#toolbar table{
	width:				90%;
	height:				100%;
	margin-left:		auto;
	margin-right:		auto;
	border-spacing:		0;
    border-collapse:	collapse;
	margin:				0;
	table-layout:		fixed;
}

div#toolbar td{
	color:			#dddddd;
	font-weight:	bold;
	text-align:		center;
}

div#toolbar td a{
	color:				#dddddd;
	font-weight:		bold;
	text-align:			center;
	text-shadow:		none;
	text-decoration:	none;
	transition:			all .3s ease-in-out;
}

div.secondary_toolbar{
	background-color:	#333333;
	margin:				0;
	display:			none;
	width:				100%;
	height:				2em; 	
}

div.secondary_toolbar table{
	width:			90%;
	margin-left:	auto;
	margin-right:	auto;
	table-layout:	fixed;
}

div.secondary_toolbar td{
	text-align:	center;
}

div.secondary_toolbar td a{
	color:				#dddddd;
	font-weight:		bold;
	text-align:			center;
	text-shadow:		none;
	text-decoration:	none;
	transition:			all .3s ease-in-out;
}

div.secondary_toolbar td a:hover{
	color:				#dddddd;
	text-shadow:		none;
	text-decoration:	none;
}

table.translation_table{
	border-collapse:	collapse;
}

table.translation_table th{
	font-weight:		bold;
	font-size:			1.1em;
	border:	1px solid #000000;
}

table.translation_table td{
	border:	1px solid #000000;
}
