/******************************************
* Hide elements intended for mobile.      *
******************************************/
.mobile{
    display:    none;
}

/******************************************
* Fonts used across the page              *
******************************************/

/* Glogal font */
@font-face{
    font-family:    font;
    src:            url('/font/FreeSans.ttf')
}


/******************************************
* Styles for html tags, without id or     *
* class.                                  *
******************************************/

/* Links */
a{
    color:                #4c9ed9;
    text-decoration:    none;
    transition:            all .2s ease-in-out;
}

a:hover{
    color:                #347;
    text-shadow:        0 0 0.4em #265885;
    text-decoration:    underline;
}

/* Fake links */
.fake_a{
    color:                #4c9ed9;
    text-decoration:    none;
    transition:            all .2s ease-in-out;
}

.fake_a:hover{
    color:                #347;
    text-shadow:        0 0 0.4em #265885;
    text-decoration:    underline;
}

/* Body */
body{
    font-family:        font;
    margin:                0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5d3e5+0,e5f4ff+10,e5f4ff+90,b5d3e5+100 */
    background: #b5d3e5; /* Old browsers */
    background: -moz-linear-gradient(left, #b5d3e5 0%, #e5f4ff 10%, #e5f4ff 90%, #b5d3e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b5d3e5 0%,#e5f4ff 10%,#e5f4ff 90%,#b5d3e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b5d3e5 0%,#e5f4ff 10%,#e5f4ff 90%,#b5d3e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d3e5', endColorstr='#b5d3e5',GradientType=1 ); /* IE6-9 */

}

/* WARNING: If styles change dhere, make changes on commment scripts */
input[type="text"], input[type="number"], input[type="date"], input[type="password"]{
    border-radius:        0.3em;
    height:                1.5em;
    border:                0.2em solid #0078ff;
    color:                #002255;
    background-color:    #ccddff;
    margin:                0.1em;
}

input[type="button"], input[type="submit"], input[type="file"], select{
    border-radius:        0.3em;
    height:                2em;
    border:                0.2em solid #0078ff;
    font-weight:        bold;
    color:                #ffffff;
    background-color:    #124567;
    cursor:                pointer;
    margin:                0.1em;
    letter-spacing:     0.1em;
}

textarea{
    border-radius:        0.3em;
    min-height:            2em;
    max-height:            15em;
    border:                0.2em solid #0078ff;
    color:                #002255;
    background-color:    #ccddff;
    resize:                vertical;
    margin:                0.1em;
}

li{
    list-style-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQImWNgIBqU//+PWwKGcUoQVECanVgAAJSsH/KywgEfAAAAAElFTkSuQmCC');
}

/******************************************
* Common elements present across the      *
* whle site.                              *
******************************************/

/* Icon for slider sections */
img.slid{
    height:            0.9em;
    width:            0.9em;
    padding:        0.1em;
    cursor:            pointer;
    vertical-align:    middle;
    transition:        opacity 0.5s ease-in-out;
}

/* Elements that should have the cursor as pointer */
.pointer{
    cursor:    pointer;
}

/* Elemnts not to be displayed */
.hidden{
    display:    none;
}

/* Elements with an italic font */
.italic{
    font-style:    italic;
}

/*Elements with a bold font*/
.bold{
    font-weight:    bold;
}

/*Stroked elements*/
.stroke{
    text-decoration:    line-through;
}

/*Underlined elements*/
.underline{
    text-decoration:    underline;
}


/* Content */
div#content{
    margin: 3em auto auto auto;
    width: 90%;
    max-width: 80em;
    min-width: 60em;
}

/* Sections */
div.section{
    border-left:        0.1em solid #000011;
    border-right:        0.1em solid #000011;
    border-bottom:        0.1em solid #000011;
    border-radius:        1em;
    padding:            0 0 0.5em 0;
    background-color:    #98c8ff;
    -webkit-filter:        drop-shadow(0 0 0.4em #000011);
    filter:                drop-shadow(0 0 0.4em #000011);
    -ms-filter:            "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000011')";
    filter:                "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000011')";
}

/* Title for each section */
div.section .section_title{
    font-size:                    120%;
    font-style:                    bold;
    color:                        #ffffff;
    background-color:            #0078ff;
    padding:                    0.5em 2em 0.1em 1.5em;
    border-top-left-radius:        0.7em;
    border-top-right-radius:    0.7em;
    border:                        0.1em solid #000011;
    margin:                        0;
}

/* Entries */
.entry{
    background-color:    #ffffff;
    padding:            0.2em;
    margin:                0.4em;
    border:                0.1em solid #6D6990;
    border-radius:        0.3em;
    box-shadow:            inset 0 0 0.2em #dde;
    transition:            all .3s ease-in-out;
}


/******************************************
* Main toolbar.                           *
******************************************/
div#member_action input{
    margin:    0.5em 2em 0.5em 2em;
}

div#toolbar{
    background-color:    #000000;
    margin:                0;
    width:                100%;
    height:                2em;
    padding:            0;
}

div#toolbar img{
    height:            1.6em;
    vertical-align:    center;
}

div#toolbar table{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
}

div#toolbar td{
    color:            #dddddd;
    font-weight:    bold;
    text-align:        center;
}

div#toolbar td a{
    color:                #dddddd;
    font-weight:        bold;
    text-align:            center;
    text-shadow:        none;
    text-decoration:    none;
    transition:            all .3s ease-in-out;
}

/******************************************
* Secondary toolbars.                     *
******************************************/
div.secondary_toolbar{
    background-color:    #333333;
    margin:                0;
    display:            none;
    width:                100%;
    height:                2em;     
}

div.secondary_toolbar table{
    width:            90%;
    margin-left:    auto;
    margin-right:    auto;
    table-layout:    fixed;
}

div.secondary_toolbar td{
    text-align:    center;
}

div.secondary_toolbar td a{
    color:                #dddddd;
    font-weight:        bold;
    text-align:            center;
    text-shadow:        none;
    text-decoration:    none;
    transition:            all .3s ease-in-out;
}

div.secondary_toolbar td a:hover{
    color:                #dddddd;
    text-shadow:        none;
    text-decoration:    none;
}

/******************************************
* Translation elements.                   *
******************************************/
table.translation_table{
    border-collapse:    collapse;
}

table.translation_table th{
    font-weight:        bold;
    font-size:            1.1em;
    border:    1px solid #000000;
}

table.translation_table td{
    border:    1px solid #000000;
}


/******************************************
* Language selectors                      *
******************************************/

div#lang_tabs{
    margin-top:    2em;
    margin-bottom:    2em;
}

div#lang_tabs table{
    width:    100%;
}

div#lang_tabs td{
    color:        #555555;
    font-weight:    bold;
    width:        33%;
    border:        0.1em solid black;
    margin:        0;
}

div#lang_tabs td.lang_tabs_active{
    color:        #0078ff;
    border-bottom:    0.1em solid #ffffff;
}
