/* Blog main page. */
section#post_list article img{
    max-width: 7em;
    max-height: 5em;
    margin-right: 1em;
    display: inline-block;
    vertical-align: top;
}
section#post_list article p{
    display: inline-block;
    vertical-align: top;
}
section#post_list article div.post_details > div{
    display: inline-block;
    vertical-align: top;
    font-size: 90%;
}
section#post_list article div.post_details div.post_details_date{
    width: 40%;
}
section#post_list article div.post_details div.post_details_tags{
    width: 40%;
}
section#post_list article div.post_details div.post_details_comments{
    width: 20%;
}

/* Single post page. */
