/* /actividades/edit.php */

input#date{
    width: 8em;
}

input#city{
    width: 16em;
}

div.activity_add_language h4{
    margin-left: 1em;
}

div.activity_add_language input[type="text"], div.cke{
    width: 90%;
    margin: 0 5% 4em 5%;
}

div.itinerary table td textarea.itinerary_description{
    resize: none;
}
