/******************************************
* Hide elements intended for desktop and  *
* show elements for mobile.               *
******************************************/
.mobile{
    display: initial;
}

.desktop{
    display: none !important;
}


/******************************************
* Styles for the main block that compose  *
* the site. Most of the pages share the   *
* same structure.
******************************************/

/* Content */
div#content{
    margin: 2em auto auto auto;
    width: 95%;
    max-width: initial;
    min-width: initial;
}

div#toolbar img{
    margin-bottom: -1em;
    opacity: 0.3;
}
