div#left_column{
	width:		100%;
	display:	block;
}

div#middle_column{
	width:			100%;
	display:		block;
	margin-left:	0;
}

/* Search form */

div#search_panel{
	padding:		1em 1em 1em 1em;
	margin-bottom:	1em;
}

div#search_panel h3{
	display:	none;
}

div#search_panel input[type='text']{
	display:	inline-block;
	width:		80%;
	margin:		auto;
}

div#search_panel input[type='submit']{
	display:	inline-block;
	width:		15%;
}


