div#error_code{
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 2em;
}
div#error_message{
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 4;
}

