div#content_table{
	display:	block;
}

div#content_table div.content_tr{
	display:	inline;
	
}

div#content_table div.content_tr div.content_td{
	padding:		0;
	width:			100%;
	display:		block;
	margin-bottom:	2em;
}

div#content_table div.content_tr div#content_td_schedule{
	width:		100%;
}

div#content_table div.content_tr div#content_td_prices{
	width:		100%;
}

div#schedule{
	display:		block;
	margin-right:	0em;
}

div#prices{
	display:		block;
}