div#content_table{
    display:    block;
}

div#content_table div.content_tr{
    display:    inline;
    
}

div#content_table div.content_tr div.content_td{
    padding:        0;
    width:            100%;
    display:        block;
    margin-bottom:    2em;
}

div#content_table div.content_tr div#content_td_schedule{
    width:        100%;
}

div#content_table div.content_tr div#content_td_prices{
    width:        100%;
}

div#festivals_image_top_container div#festivals_image_container img#festivals_image{
    border-radius:    0.5em;
    max-width:        initial;
    max-height:        15em;
}

div#schedule{
    display:        block;
    margin-right:    0em;
}

div#prices{
    display:        block;
}


/* programa.php */

div#map_container div.section{
    width: 90%;
    height: 90%;
    margin: 5%;
}

div#map_container div.section h3.section_title div#map_close_container{
    height: 2em;
    margin-top: 0;
    margin-right: 0;
}

div#map_container div.section h3.section_title{
    height: 2.5em;
}
