div#map_container div.section{
    width: 90%;
    height: 90%;
    margin: 5%;
}

div#map_container div.section h3.section_title div#map_close_container{
    height: 2em;
    margin-top: 0;
    margin-right: 0;
}

div#map_container div.section h3.section_title{
    height: 2.5em;
}
