/* /actividades/actividad.php */

/* Page layout */
div#right_column{
	width:			22%;
	display:		inline-block;
	vertical-align:	top;
	float:			right;
}

div#middle_column{
	width:			74%;
	display:		inline-block;
	vertical-align:	top;
}

div#middle_column h3#activity_title{
	margin-bottom:	0em;
}

div#middle_column span#activity_date{
	color:			#555555;
	font-size:		80%;
	font-style:		italic;
	margin-left:	1em;
}

/* Archive */
div.list_year{
	margin-left:	1em;
/* 	display:		none; */
	max-height:		0em;
	overflow-y:		hidden;
	transition:	max-height 0.6s ease-in-out;
}

ul.activity_list{
	margin-top:		0em;
	margin-bottom:	0em;
	/* 	display:		none; */
	max-height:		0em;
	overflow-y:		hidden;
	transition:	max-height 0.6s ease-in-out;
}

div#activity_image{
	text-align:	center;
}

div#activity_image img{
	max-height:		25em;
	max-width:		90%;
	border:			0.15em solid #333333;
	border-radius:	0.2em;
	box-shadow:		0 0 0.5em #111111;
	margin:			1em 0 1em 0;
}

div#activity_description{
	margin-left:	3em;
	margin-right:	3em;
}

div#activity_details{
	text-align:	center;
}

div#activity_details table#activity_details{
	margin: 			0 auto 0 auto;
	border-collapse:	collapse;
}

div#activity_details table#activity_details tr{
	border-bottom:		0.2em solid #7777aa;
	border-top:			0.2em solid #7777aa;
	border-collapse:	collapse;
}

div#activity_details table#activity_details td{
	text-align:	right;
	padding:	0.2em 0.5em 0.2em 0.5em;
}

div#activity_details table#activity_details td.field_name{
	font-weight:	bold;
}

div#activity_itinerary tr{
	border-bottom:		0.2em solid #7777aa;
	border-top:			0.2em solid #7777aa;
	border-collapse:	collapse;
}

div#activity_itinerary table#activity_itinerary{
	max-width:	50em;
	margin: 			0 auto 0 auto;
	border-collapse:	collapse;
}

div#activity_itinerary table#activity_itinerary th{
	border:		0.1em solid #7777aa;
	text-align:	center;
}

div#activity_itinerary table#activity_itinerary td{
/* 	border:		1px solid black; */
	padding:	0.2em 0.5em 0.2em 0.5em;
}

div#activity_itinerary table#activity_itinerary td h5{
	margin:	0;
}

div#activity_itinerary table#activity_itinerary td p{
	margin:	0;
}


/* /actividades/index.php */

/* Contains the image of the upcoming activity */
div#upcoming_image{
	display:		inline-block;
	vertical-align:	top;
}

div#upcoming_image img{
	max-height:		10em;
	max-width:		10em;
	margin:			1em;
	border:			0.15em solid #333333;
	border-radius:	0.2em;
	box-shadow:		0 0 0.5em #111111;
}

/* Contains the text of the upcoming activity */
div#upcoming_text{
	display:		inline-block;
	vertical-align:	middle;
}

table.future_data{
	border-collapse:	collapse;
}

table.future_data tr{
	border-bottom:		0.2em solid #7777aa;
	border-top:			0.2em solid #7777aa;
	border-collapse:	collapse;
}

table.future_data td{
	padding:	0.3em 1em 0.3em 1em;
}

/* Contains the details of the upcoming activity */
div#upcoming_details{
	display:		inline-block;
	vertical-align:	middle;
	float:			right;
	margin-right:	0;
	text-align:		center;
} 

div#upcoming_details table{
	text-align:	left;
	font-style:	italic;
	font-size:	80%;
}

table.past_activity td{
	vertical-align:	top;
}

div.past_activity_details{
	max-height:	0px;
	transition:	max-height 0.6s ease-in-out;
	overflow:	hidden;
}

div.past_activity_details_first{
	max-height:	40em;
}

div.past_image{
	display:		inline-block;
	vertical-align:	top;
}

div.past_image img{
	max-height:		12em;
	max-width:		12em;
	margin:			1em;
	border:			0.15em solid #333333;
	border-radius:	0.2em;
	box-shadow:		0 0 0.5em #111111;
}

div.past_text{
	display:		inline-block;
	vertical-align:	middle;
}

span.title_date{
	color:		#555555;
	font-size:	80%;
	font-style:	italic;
}
