div#error_code{
    display: inline-block;
    margin-top: 2em;
    margin-left: 10%;
    border: 0.1em solid #000011;
    border-radius: 1em;
    padding: 0.5em 0 0.5em 0;
    background-color: #0078ff;
    -webkit-filter: drop-shadow(0 0 0.4em #000011);
    filter: drop-shadow(0 0 0.4em #000011);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000011')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000011')";
    color: #ffffff;
}


td#error_number{
    font-size: 300%;
    border-right: 0.063em solid #000000;
    padding-right: 1.875em;
    padding-left: 1.250em;
}
td#error_tag{
    font-size: 110%;
    padding-left: 1.750em;
    padding-right: 1.250em;
}
div#error_message{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4em;
}

div#error_message div.entry{
    padding: 0.8em;
}
