/* Location section */

/* Festival section */
/*div#festivals{
	width:	100%;
}

table.festival_section_table tr{
	width:	100%;
	height:	100%;
}

table.festival_section_table tr td{
	min-width:		50%;
	height:			100%;
	vertical-align:	top;
	padding-bottom: 1em;
}

table.festival_section_table tr td div.entry{
	height:	95%;
}

table.festival_section_table tr td div#festivals_summary{
 	min-height:		15em;
}

table.festival_section_table tr td div#festivals_summary img{*/
div#festivals div#festivals_summary img{
	display:		inline-block;
	max-width:		40%;
	max-height:		15em;
	vertical-align:	top;
	wfloat:			left;
	margin-right:	2em;
	border: 0.1em solid black;
	margin:	0.5em;
}

div#festivals span#festivals_summary_text{
	display:	inline-block;
}

div#festivals div#festivals_schedule_table{
	display:	table;
	width:		100%;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row{
	display:	table-row;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell{
	display:	table-cell;
	width:		50%;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div#festivals_gm{
	margin: 0.4em 0.2em 0.4em 0.4em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div#festivals_city{
	margin: 0.4em 0.4em 0.4em 0.2em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event{
	margin:			1em;
	padding:		0.3em 0.3em 0.3em 0.5em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event h4{
	margin:			1em 0.2em 0.2em 0em;
	font-weight:	bold;
	color:			#444444;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event div.schedule_content{
	border-left:	0.1em dotted black;
	margin-left:	0.5em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event span.title{
	font-weight:	bold;
	font-size:		120%;
	color:			#275573;
	margin:			1em 0.5em 0.7em 0.2em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event p.description{
	margin:	0.2em 1em 1em 1em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event table.location{
	margin:		0.3em 1em 0.3em 1.6em;
	font-size:	90%;
	color:		#222222;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event table.location img{
	max-width:	1.3em;
	max-hieght:	1.5em;
}

div#festivals div#festivals_schedule_table div#festivals_schedule_row div.festivals_schedule_cell div.festival_event table.location span.address{
	font-size:	80%;
	font-style:	italic;
	color:		#444444;
}


table.festival_section_table tr td div.festival_schedule span.title{
	font-weight:	bold;
/* 	font-size:		105%; */
	margin-left:	1em;
}

table.festival_section_table tr td div.festival_schedule span.description{
	font-style:		italic;
	margin-left:	2em;
	font-size:		90%;
}

table.festival_section_table tr td div.festival_schedule table.location{
	border-collapse:	collapse;
	margin:				0.5em 2em 0.5em 3em;
	font-size:			80%;
}

table.festival_section_table tr td div.festival_schedule table.location td{
	min-width:			initial;
	height:				initial;
	vertical-align:		middle;
	padding-bottom: 	0;
}

/* Upcoming activity section */

div.section{
	margin-bottom:	2em;
}

div#upcoming_activity{
	display:	table;
}

div.table div.tr{
	display:	table-row;
}

div.table div.tr div.td{
	display:	table-cell;
	vertical-align:	top;
}

/* Contains the image of the upcoming activity */
div#upcoming_image{
	display:		inline-block;
	vertical-align:	top;
}

div#upcoming_image img{
	max-height:		10em;
	max-width:		10em;
	margin:			1em;
	border:			0.15em solid #333333;
	border-radius:	0.2em;
	box-shadow:		0 0 0.5em #111111;
}

/* Contains the text of the upcoming activity */
div#upcoming_text{
	display:		inline-block;
	vertical-align:	middle;
}

/* Contains the details of the upcoming activity */
div#upcoming_details{
	display:		inline-block;
	vertical-align:	middle;
	float:			right;
	margin-right:	0;
	text-align:		center;
	padding-bottom:	2em;
}


div#upcoming_details table{
	border-collapse:	collapse;
	text-align:			left;
	font-style:			italic;
	font-size:			80%;
	margin:				2em 2em 2em 4em;
}

div#upcoming_details table tr{
	border-bottom:		0.2em solid #7777aa;
	border-top:			0.2em solid #7777aa;
	border-collapse:	collapse;
}

div#upcoming_details table td{
	padding:	0.3em;
}

/* Us section */
div#us p{
	display:	inline-block;
	vertical-align:	top;
}

div#us div{
	position:	absolute;
	top:		4em;
	right:		3em;
	text-align:	center;
}

div#us div img{
	opacity:	0.4;
	max-height:	100px;
	max-width:	100px;
}

/* Table to present posts and photos on the same row */
div#content_table{
	display:	table;
}

div#content_table div.content_row{
	display:	table-row;
}

div#content_table div.content_row div.content_cell{
	width:		50%;
	display:	table-cell;
}

div#content_table div.content_row div#cell_posts div.section{
	margin-right:	1em;
}

div#content_table div.content_row div#cell_photos div.section{
	margin-left:	1em;
}

div#content_table div.content_row div.content_cell div.section div.entry{
	padding:		1em;
}


/* Section of the latest posts */
div.post img{
	max-width:		7em;
	max-height:		9em;
	float:			left;
	margin:			0.5em 1em 0.5em 0.5em;
	border:			0.1em solid #112244;
/* 	border:			0.15em solid #333333; */
/* 	border-radius:	0.2em; */
/* 	box-shadow:		0 0 0.5em #111111; */
}

table.post_table p{ /*TODO fix*/
/*NOW 	margin-left:	0.5em; */
}

/* contains the date for each recent post */
div#content_table div.content_row div.content_cell div.section div.entry span{
	margin-right:	1em;
	display:		block;
	text-align:		right;
/* 	float:			right; */
	font-style:		italic;
	font-size:		80%;
}

/* Links to each section */
a.go_to_section{
	float:	right;
}

/* Photos table */
table#table_photos{
	table-layout:	fixed;
	position:		relative;
	width:			100%;
}

table#table_photos td{
	padding:	0.2em;
	text-align:	center;
}

table#table_photos img{
	max-width:		90%;
	max-height:		10em;
	border:			0.1em solid #112244;

/* 	border:			0.1em solid #333333; */
/* 	box-shadow:		0 0 0.8em #000000; */
/* 	border-radius:	0.2em */
}

div#latest_activities{
	display:	block;
	margin-top:	2em;
}

div.activity_image{
	display:	inline-block;
	vertical-align:	top;
	max-width:	40%;
	max-height:	15em;
	text-align:	center;
}

table.latest_activity td {
	vertical-align:	top;
}

table.latest_activity td.latest_activity_image{
	max-width:	30%;
}

div#latest_activities img{
/* 	max-width:		40%; */
	max-height:		10em;
	margin:			0.5em 1em 0.5em 0.5em;
	border:			0.1em solid #112244;

/* 	border:			0.15em solid #333333; */
/* 	border-radius:	0.2em; */
/* 	box-shadow:		0 0 0.5em #111111; */
}

div.activity_text{
	display:		inline-block;
	vertical-align:	top;
	padding:		1em;
}
