div#map_container{
    display: none;
    opacity: 0;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: #33333377;
    transition: all .5s ease-in-out;
}

div#map_container div.section{
    width: 70%;
    height: 70%;
    margin: 4em 15% auto 15%;
}

div#map_container div.section h3.section_title div#map_close_container{
    height: 1.5em;
    float: right;
    margin-top: -0.3em;
    margin-right: -0.4em;
}

div#map_container div.section h3.section_title div#map_close_container img#map_close{
    height:    100%;
}

div#map_container div.section div#map{
    width: 90%;
    height: 80%;
    margin: 1em 5% 1em 5% !important;
    background-color: #000000;
}

img.pinpoint{
    max-height: 1.3em;
    vertical-align: middle;
}
